<script src="{{site.baseurl}}/assets/js/bogl_embedded.js" defer></script>
<!--BoGL Exercise-->
<div class="bogl-embed-editor bogl-exercise">
  <div class="bogl"></div>
  <div class="left bogl-exercise-code" contenteditable="true" spellcheck="false">
    {% if page.content %}
	  	{{ include.content | newline_to_br }}
	  {% endif %}
  </div>
  <div class="right">
    <div class="bogl-exercise-result"></div>
    <input class="bogl-exercise-check" type="button" value="Check" checks="{{ include.checks | newline_to_br }}" expects="{{ include.expects | newline_to_br }}"/>
  </div>
</div>
